.cart-content {
    position: absolute;
    top: 70px;
    right: 0;
    background: #DC143C;
    height: 50vh;
    width: 25vw;
}

.cart-list {
    height: 80%;
    overflow: auto;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #ffffff;
    margin-top: 10px;
}

.remove {
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}

.remove:hover {
    color: #000000;
}
